* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    /* background-image: linear-gradient(to top, #343F4F 0%, #343F4F 100%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #343f4f;
  }

  .animation {
    display: flex;
    padding-top: 10vh;
    /* align-items: center; */
    justify-content: center;
    min-height: 40vh;
    /* background: #343F4F; */
  }
  
  .wrapper {
    display: flex;
  }
  .wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li {
    list-style: none;
    color: #fc6d6d;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%,
    60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }

  .text{
      padding-top: 100px;
      margin: 0 auto;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 16px;
      font-weight: 500;
      max-width: 700px;
      letter-spacing: 1px;
      line-height: 1.4em;
  }

  h1{
      text-align: center;
      padding-top: 50px;
      color:white;
  }

  .navbar{
    display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          font-size: 25px;
          color: white;
          box-sizing: border-box;
          
      }
    
      .navbar:hover{
          opacity: 80%;
      }
    
      section{
          list-style: none;
          
      }




      /* Scrool bar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #ff06aa;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #03031c;
}
/* // */