* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(248, 248, 248, 0.849);
  padding-top: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: #242526; */
  background-color: rgba(64, 94, 160, 0.8);

  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.main-search {
  display: flex;
  align-items: center;
}

.logo {
  padding: 10px;
  display: flex;
  align-items: center;
}

.logo .fa-facebook {
  width: 1.2em;
  height: 1.2em;
  font-size: 35px;
  /* background-color: rgba(64, 94, 160, 0.8); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .fa-facebook:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.search-input {
  display: block;
  height: 35px;
  border: unset;
  border-radius: 20px;
  padding: 0 15px;
}

.main-navigation {
  width: 600px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.main-navigation .navigation {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.nav-icons {
  font-size: 35px;
  color: white;
}

.nav-icons:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.main-navigation > ul > li > a {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  padding: 10px 10px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.links > ul {
  display: flex;
  align-items: center;
}

.links > ul > li {
  display: flex;
  align-items: center;
}

.links > ul > li > a {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.links > ul > li > a > i {
  font-size: 35px;
  color: white;
}
.links > ul > li > a > i:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.dropdown {
  /* display: none; */
  position: absolute;
  margin-top: 200px;
  margin-left: -130px;
  background-color: rgb(209, 205, 205);
  width: 170px;
  height: 100px;
  padding-left: 40px;
  border-radius: 10px;
}
.dropdown a {
  color: #106cd6;
}
.dropdown a:hover {
  color: white;
}
.main-container {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 340px;
  background-color: rgba(248, 248, 248, 0.849);
}

.newsfeed {
  /* background-color: grey; */
  width: 600px;
  /* height: 900px; */
  justify-self: center;
}
.story {
  margin-top: 10px;
  display: flex;
  widows: 100%;
  position: relative;
  background-color: white;
  width: 100%;
  height: 200px;
  padding-left: 25px;
  padding-top: 8px;
  border-radius: 10px;
  box-shadow: 0 5px 5px gray;
  
}
.story-content {
  opacity: 70%;
  cursor: pointer;
}
.story-content:hover {
  opacity: 100%;
}

.story-content img {
  width: 80%;
  height: 180px;
  border-radius: 10px;
  opacity: 70%;
}

.story-content p {
  top: 150px;
  color: white;
  position: absolute;
  font-size: 12px;
}
#storyimg{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  margin-left: 5px;
  position: absolute;
  border: 2px solid rgb(28, 114, 243);
  
}

.add-post{
  margin-top: 100px;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gainsboro;
}

.addpost-header{
 padding: 20px;
  display: flex;
}
.addpost-header img{
  width: 50px;
  border-radius: 50%;
}
.addpost-header input {
  margin-left: 15px;
  padding-left: 15px;
  width: 80%;
  border-radius: 10px;
  border: none;
  background-color: ghostwhite;
  font-size: 18px;
}

.addpost-footer{
  
  padding: 20px ;
  display: flex;
  justify-content: space-around;
  
}
.addpost-footer div, p{
  display: flex;
  padding-left: 15px;
  margin-top: 7px;
  

}
.addpost-footer div{
  widows: 190px;
  height: 50px;
}
.addpost-footer div:hover{
  background-color: ghostwhite;
  cursor: pointer;
  border-radius: 10px;
  
}

.addpost-footer img{
  width: 40px;
  border-radius: 50%;
  filter: contrast(0.5);
}



.profile-image-icon {
  width: 50px;
  border-radius: 50%;
  height: auto;
}

.profile {
  display: flex;
}

.post-header {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.profile-name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.profile-name span {
  line-height: 15px;
}

.img-post {
  max-width: 100%;
  margin: 0 auto 50px;
}

.post-description {
  height: 50px;
  background-color: white;
}

.profile-options {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.profile-options:hover {
  background-color: lightgray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.post {
  background-color: white;
  padding: 5px;
  box-shadow: 0 5px 5px rgba(0, 92, 92, 0.5);
  margin: 20px 0;
  border-radius: 10px;
}

.reacts,
.actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.actions {
  margin-bottom: 20px;
}
.reaction {
  cursor: pointer;
  width: 135px;
  height: 30px;
}
.reaction:hover {
  font-size: 18px;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment-content {
  width: 100%;
  display: flex;
}
.comment-content button{
  width: 70px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #106cd6;
  color: white;
  border: none;
  cursor: pointer;
  
}

.comment-content input {
  width: 100%;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: rgb(243, 245, 244);
  border: 3px solid rgba(0, 0, 255, 0.527);
}

.comment-user {
  display: flex;
  margin-top: 10px;
}

.comment-text {
  margin-left: 10px;
}

.content-list {
  padding: 10px;
  padding-top: 30px;
  width: 350px;
  height: 500px;

  position: fixed;
}
.content-list:hover {
  overflow-y: scroll;
}

/* scroll */
* ::-webkit-scrollbar {
  width: 6px;
}

* ::-webkit-scrollbar-thumb {
  background-color: #106cd6;
  border-radius: 10px;
}

* ::-webkit-scrollbar-track {
  background: #ffffff;
}

/* scroll// */

.content-image {
  display: flex;
}
.content-image:hover{
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.icon-content {
  color: rgb(42, 107, 226);
  font-size: 22px;
  padding-top: 15px;
  width: 20px;
}

.group-icon {
  width: 70px;
  background-color: rgba(42, 75, 224, 0.678);
}

.content-name {
  padding-left: 20px;
  display: flex;
  padding: 15px;
  cursor: pointer;
  transition: ease 0.2s;
}
.content-name:hover {
  color: #106cd6;
  margin-left: 5px;
}

.right-content {
  padding-top: 10px;
}

.add-friends-icon {
  display: flex;
  width: 10px;
}

.add-friends > span {
  display: flex;
  margin-top: 50px;
  padding-left: 45px;
  position: absolute;
  top: 100px;
}

.add-friends {
  margin-top: 50px;
  padding: 10px;
  display: block;
  height: 200px;
  box-shadow: 0 10px 10px rgb(245, 245, 245);
  background-color: white;
  border-radius: 2%;
}

.add-friends-img-profile {
  width: 100px;
  padding-top: 30px;
  position: absolute;
  border-radius: 5%;
  z-index: 0;
}

.add-friends-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-left: 50px;
}

.add-friends-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 10px;
}

.accepta-refuza {
  border-radius: 5%;
  width: 120px;
  height: 40px;
  margin-top: 5px;
  background-color: rgb(54, 111, 233);
  color: white;
  cursor: pointer;
}

.accepta-refuza:hover {
  background-color: rgb(43, 85, 177);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.contact-header-name {
  display: flex;
  padding-top: 10px;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.contact-icon {
  display: flex;
  font-size: 17px;
  margin: 5px;
}

.contact-image {
  width: 35px;
  padding-top: 12px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.contact-online-img {
  padding-top: 20px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.contact-name {
  display: flex;
  flex-direction: column;
}

.contact-online-name {
  padding-top: 33px;
  padding-left: 20px;
  transition: ease 0.2s;
  cursor: pointer;
  position: relative;
}
.contact-online-name:hover {
  color: #106cd6;
  margin-left: 5px;
}
.contact-online-name::before {
  content: "♥    ";
  color: greenyellow;
}

.contact-content {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
}









#switcher {
 
  list-style: none;
  margin: 0 80px;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 15px 15px 0;
  border-radius: 30px;
  border: 2px solid rgb(41, 166, 238);
}

#grayButton {
  background: gray;
}

#pinkButton {
  background: rgb(231, 9, 194);
}
#greenButton {
  background: rgb(31, 206, 8);
}


#scroll{
width: 50px;
position: fixed;
margin-left: 1200px;
bottom: 50px;
border-radius: 10px;
background-color: royalblue;
cursor: pointer;
}





.boxcontainer{
  margin-top: 15px;
  width: 100%;
  height: 100px;
  color: white;
  background-color: gray;
  display: none;
}
.boxcontainer box{
  margin-top: 15px;
  width: 80%;
  height: 80px;
  overflow-y: auto;
}