@font-face {
  font-family: "MyFont";
  src: url(./Fonts/Leander.ttf);
}

* {
  font-family: "MyFont", sans-serif, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: url(./photo/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

body nav a #logo {
  width: 10%;
  min-width: auto;
  margin: 10px;
  opacity: 50%;
}

body nav a #logo:hover {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

body nav h4 {
  margin: 50px 50px;
  font-size: 380%;
  color: white;
}

body nav p {
  width: 30%;
  margin: 50px 50px;
  font-size: 150%;
  color: white;
}

body nav #play {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  opacity: 50%;
  margin: -20px 5%;
  width: 50px;
  position: relative;
  -webkit-animation: mymove 3s infinite;
          animation: mymove 3s infinite;
}

@-webkit-keyframes mymove {
  from {
    left: 5px;
    opacity: 30%;
  }
  to {
    left: 20px;
    opacity: 100%;
  }
}

@keyframes mymove {
  from {
    left: 5px;
    opacity: 30%;
  }
  to {
    left: 20px;
    opacity: 100%;
  }
}

body nav .info {
  font-size: 90%;
}

body nav .info2 {
  padding-left: 20px;
  opacity: 60%;
  font-size: 12px;
  margin: 30px;
}

body nav .info2:hover {
  opacity: 100%;
}

body main video {
  width: 100%;
  opacity: 70%;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

body main video:hover {
  opacity: 100%;
}

body .section1 {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

body .section1 p {
  color: white;
  font-size: 45px;
  cursor: pointer;
}

body .section1 p:hover {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
  border-bottom: 2px groove white;
}

body .section2 {
  width: 100%;
  margin-top: 100px;
}

body .section2 iframe {
  width: 90%;
  height: 30rem;
  margin: 0 5%;
  border: none;
  opacity: 50%;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body .section2 iframe:hover {
  opacity: 100%;
}

body button {
  margin: 0 20px 20px 40%;
  width: 200px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px groove #ccc;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

body button:hover {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

body .section2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 90%;
  margin: 150px 5%;
}

body .section2 img {
  float: left;
  padding: 5px;
  width: 20%;
}

body .section2 p {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}

@media (max-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  body nav p {
    width: 60%;
  }
  body .section2 iframe {
    width: 98%;
    height: 30rem;
    margin: 0 -2%;
    border: none;
    opacity: 50%;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  body .section2 iframe:hover {
    opacity: 100%;
  }
  body button {
    margin: 0 60px 21px 30%;
  }
  body .section2 p {
    width: 98%;
    margin-left: -0%;
    margin-top: 50px;
  }
}

@media (max-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  body nav p {
    width: 60%;
    font-size: 150%;
  }
}

@media (max-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  body button {
    margin: 0 60px 21px 20%;
  }
}

@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  body .section2 iframe {
    margin: 0 0%;
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 390px) {
  body nav a #logo {
    width: 30%;
    margin-left: 125px;
  }
  body nav h4 {
    margin: 33px 26px;
    font-size: 300%;
  }
  body nav p {
    width: 80%;
  }
  body nav img {
    margin: -20px 40%;
  }
  body nav .info {
    font-size: 110%;
  }
  body .section1 p {
    font-size: 35px;
  }
}

@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  body nav a #logo {
    width: 30%;
    margin: 10px 122px;
  }
  body nav h4 {
    width: 100%;
    font-size: 210%;
  }
  body nav .info2 {
    padding-left: 20px;
    font-size: 12px;
  }
  body nav p {
    width: 80%;
    font-size: 120%;
  }
  body main .section1 {
    margin-left: -13px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .section1 p {
    padding-top: 55px;
    padding-left: 50px;
  }
  body main .section1 p:hover {
    border: none;
  }
  body body .section2 {
    margin: 150px 0px;
  }
  body .section2 iframe {
    margin-left: -10px;
    width: 335px;
    height: 400px;
  }
  body button {
    margin: 0 60px 21px 20%;
  }
  body .section2 p {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */